@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --cor0: #767A99;
    --cor1: #50556E;
    --cor2: #333A58;
    --cor2-5: #262a41;
    --cor3: #43466d;
    --cor4: #FE3663;
    --cor4-5: #c2294a;

    --fonte1: 'Roboto', sans-serif;
}

body{
    font-family: var(--fonte1);
    background-color: var(--cor0);
    width: 100vw;
    height: 100vh;
    user-select: none;
}

.container{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 200px;
    transition: width .3s;
    transition-timing-function: ease;
    background-color: var(--cor1);
    padding: 3px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px black;
}

#calculo01{
    overflow: auto;
    color: rgba(255, 255, 255, 0.404);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.411);
    font-weight: bolder;
    font-size: 1.3em;
    padding: 0px 3px;
}

#calculo02{
    overflow: auto;
    height: 100px;
    color: rgba(255, 255, 255, 0.842);
    font-size: 2.8em;
    font-weight: bolder;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0px 3px;
}

.calc{
    position: relative;
}

.numero{
    background-color: var(--cor2);
    padding: 10px;
    width: 22%;
    font-size: 1em;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.354);
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin: 1px;
}

.numero:hover{
    background-color: var(--cor2-5);
    transition: 0.17s;
}

.sinal{
    background-color: var(--cor3);
    padding: 10px;
    width: 22%;
    font-size: 1em;
    font-weight: bold;
    color: var(--cor4);
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin: 1px;
}

.sinal:hover{
    background-color: var(--cor2-5);
    transition: 0.17s;
}

#delet{
    background-color: var(--cor2);
    color: white;
    border: none;
    border-radius: 5px;
    width: 22%;
    height: 19%;
    position: absolute;
    margin-top: 1px;
    margin-left: 5px;
}

#delet:hover{
    background-color: var(--cor2-5);
    transition: 0.17s;
}

#igual{
    background-color: var(--cor4);
    width: 22%;
    margin: 1px 6px;
    height: 39%;
    position: absolute;
    color: white;
    border: none;
    border-radius: 5px;
}

#igual:hover{
    background-color: var(--cor4-5);
    transition: 0.17s;
}