@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

:root{
    --cor0: #767A99;
    --cor1: #50556E;
    --cor2: #333A58;
    --cor2-5: #262a41;
    --cor3: #43466d;
    --cor4: #FE3663;
    --cor4-5: #c2294a;

    --fonte1: 'Roboto', sans-serif;
}

body{
    font-family: var(--fonte1);
    background-color: var(--cor0);
    width: 100vw;
    height: 100vh;
}

.container{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 200px;
    background-color: var(--cor1);
    padding: 3px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px black;
}

#calculo01{
    color: rgba(255, 255, 255, 0.404);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.411);
    font-weight: bolder;
    font-size: 1.3em;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

#calculo02{
    height: 70px;
    color: rgba(255, 255, 255, 0.842);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.411);
    font-weight: bolder;
    font-size: 2.8em;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

table{
    border-spacing: 3px 3px;
    background-color: var(--cor1);
    text-align: center;
}

table td{
    text-shadow: 1px 1px 2px black;
    border-radius: 5px;
}

.numero{
    background-color: var(--cor2);
    padding: 10px;
    width: 30px;
    height: 30px;
    font-size: 1em;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.numero:hover{
    background-color: var(--cor2-5);
    transition: 0.17s;
}

.sinal{
    background-color: var(--cor3);
    padding: 10px;
    width: 30px;
    height: 30px;
    font-size: 1em;
    font-weight: bold;
    color: var(--cor4);
    cursor: pointer;
}

.sinal:hover, .sinal-up:hover{
    background-color: var(--cor2-5);
    transition: 0.17s;
}

.sinal-up{
    background-color: var(--cor3);
    padding: 10px;
    width: 30px;
    height: 30px;
    font-size: 1em;
    font-weight: bold;
    color: var(--cor4);
    cursor: pointer;
}

#igual{
    background-color: var(--cor4);
    color: white;
}

#igual:hover{
    background-color: var(--cor4-5);
    transition: 0.17s;
}

#deletar{
    padding-bottom: 4.5px;
    width: 30px;
}

#ponto{
    text-align: center;
    font-weight: bold;
}
